.form-control {
    border-radius: 5px;
}

.nav-link {
    font-size: 16px;
    font-weight: 600;
}

.dropdown-menu {
    width: 100%;
}

.dropdown-item {
    font-size: 14px;
}

.message-box img {
    vertical-align: top;
}

.third-oauth-login-box{
    display: block;
    text-align: center;
}

