<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>社区名字</title>
    <!--Bootstrap 核心 CSS 文件-->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/message.min.css">
    <link rel="stylesheet" href="/css/index1.css">
</head>
<body>

<div th:replace="header::header"></div>
<div th:replace="content::content"></div>
<div th:replace="footer::footer"></div>

<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/message.min.js"></script>
<script src="/js/jquery-3.6.3.min.js"></script>
<script src="/js/jquery.cookie.min.js"></script>
<script>

    Qmsg.config({
        showClose: false,
        timeout: 1000
    })

    $("#login").on("click", function () {

        var email = $("#loginEmail").val()
        var ret = /^\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$/
        if(!ret.test(email)){
            Qmsg.error("邮箱格式不正确！")
            return false
        }

        $.ajax({
            url: "/user/login",
            type: "post",
            data: {
                email: $("#loginEmail").val(),
                pwd: $("#loginPassword").val()
            },
            success: function (result) {
                if (result.code == 200) {
                    Qmsg.success(result.msg, {
                        timeout: 500,
                        onClose: function () {
                            location.reload()
                        }
                    })
                } else {
                    Qmsg.error(result.msg)
                }
            }
        })
    });


    $("#registry").on("click", function () {

        $.ajax({
            url: "/user/create",
            type: "POST",
            data: {
                email: $("#signupEmail").val(),
                nickName: $("#nickName").val(),
                Pwd: $("#signupPassword").val(),
                repeatPwd: $("#checkPassword").val()
            },
            resultType: "JSON",
            success: function (result) {
                if (result.code == 200) {
                    /*信息提示框*/
                    Qmsg.success(result.msg)
                    $("#toLogin").trigger("click");

                } else {
                    Qmsg.error(result.msg)
                }


            }

        });

    });


</script>

</body>
</html>